{% extends "index.html" %}
{% load static %}

{% block titulo %}CodeRed - Equipe {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "/css/custom.css" %} ">
{% endblock %}

{% block equipe %}
    {% for item in descricao%}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12" id="quemsomos_box">
                <h1>Quem somos</h1>
                {{item.descricao_codered|safe}}
            </div>
        </div>
    {% endfor %}

    <div class="row row__equipe">
          {% for item in integrante%}
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="equip__card">
                    <div class="equip__title">
                      <h1 class="">{{item.integrante_nome}}</h1>
                    </div>

                    {% if item.integrante_foto %}
                        <img class="equip__image" src="/{{item.integrante_foto}}" alt="{{item.integrante_nome}}">
                    {% else %}
                        <img class="equip_imagem" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" style="margin: 5px 70px 20px 70px; border-radius: 50%!important;" height="200px" width="200px" alt="{{item.integrante_nome}}">
                    {% endif %}

                    <div class="equip__card__body">
                      <div class="equip__office">
                        <h5>{{item.integrante_cargo}}</h5>
                      </div>

                      <div class="equip__social__networks">
                          {% if item.twitter %}
                            <a class="icon__social__media" target="_blank" href="{{item.twitter}}"><i class="fab fa-twitter-square"></i></a>
                          {% endif %}
                          {% if item.facebook %}
                            <a class="icon__social__media" target="_blank" href="{{item.facebook}}"><i class="fab fa-facebook-square"></i></a>
                          {% endif %}
                          {% if item.github %}
                            <a class="icon__social__media" target="_blank" href="{{item.github}}"><i class="fab fa-github-square"></i></a>
                          {% endif %}
                          {% if item.linkedin %}
                            <a class="icon__social__media" target="_blank" href="{{item.linkedin}}"><i class="fab fa-linkedin"></i></a>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

        {% endfor %}
    </div>
{% endblock %}
