{% extends "index.html" %}
{% load static %}

{% block titulo %}CodeRed - Início {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "/css/home_custom.css" %} ">
{% endblock %}

{% block home_header %}
    <header class="v-header container">
        <div class="fullscreen-video-wrap">
            <video class="video" loop autoplay muted>
                <source type="video/webm" src="{% static "/images/coding.webm" %}">
                <source type="video/mp4" src="{% static "/images/coding.mp4" %}">
            </video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content text-md-center">
            <h1>Bem vindo a CodeRED</h1>
            <hr class="my-4 w-75">
            <div class="">
                <i class="fab fa-facebook-square" id="contato_facebook"></i>
                <i class="fab fa-twitter-square" id="contato_twitter"></i>
                <i class="fab fa-github-square" id="contato_github"></i>
                <i class="fab fa-linkedin" id="contato_linkedin"></i>
            </div>
            <p>Somos uma comunidade empenhada em criar um ambiente saudável, instigante e divertido onde todos podem aprender a programar.</p>
            <a href="{{url}}/equipe/" class="btn" role="button">Conheça</a>
        </div>
    </header>
{% endblock %}

{% block events_header %}
    <div class="container">
        <div class="eventos">
            <div class="row">
                <div class="col-md-4" id='bootcamp_main'>
                    <a href="{{url}}/bootcamps">
                        <img src="static/images/bootcamp.svg" class="img-fluid" id='bootcamp_imagem_main' alt="">
                    </a>
                    <p>Bootcamp é um termo em inglês usado inicialmente para nomear práticas militares que envolviam treinamentos intensivos em um curto período de tempo. Tal prática foi transposta para o mercado e bootcamps são empregados para prover treinamento em diversas áreas como: marketing, vendas, capacitação funcional e tecnologia.</p>
                </div>
                <div class="col-md-4" id='codedojo_main'>
                    <a href="{{url}}/codedojo">
                        <img src="static/images/codedojo.svg" class="img-fluid" id='codedojo_imagem_main' alt="">
                    </a>
                    <p>Dojô é uma palavra de origem japonesa que significa ‘local de treinamento’. A comunidade de tecnologia abraçou tal terminologia e esse modelo tem o intuito de promover a diversão e desafiar programadores a solucionar problemas pelo meio de pequenos problemas de lógica básica. Aprender em conjunto e na prática sempre é valioso.</p>
                </div>
                <div class="col-md-4"id='hackathon_main'>
                    <a href="{{url}}/hackathon">
                        <img src="static/images/hachathon.svg" class="img-fluid" id='hackathon_imagem_main' alt="">
                    </a>
                    <p>Hackathon é um evento que gira em torno de problemas sugeridos por empresas onde todos os participantes são encarregados de desenvolver seus protótipos, seja Web um aplicativo ou uma solução desktop. No hackathon o importante é solucionar o problema e participar em um ambiente amistoso de competição. (Em breve)</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
